:80 {
    root * /app/frontend
    file_server

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /docs {
        reverse_proxy backend:8000
    }

    handle /openapi.json {
        reverse_proxy backend:8000
    }
}